###########################################################
###################### General Setup ######################
###########################################################

BUILD_SCRIPT=./api-builder.sh
EXTERNAL_NETWORK=laradock_backend
BUILD_SCRIPT=./builder.sh
CODE_PATH=../